.main {
  height: 100vh;
  display: flex;
}

.main__left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main__right {
  flex: 0.2;
}

.main__videos {
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  /* width: 100%; */
}

.main__controls {
  background-color: black;
}

.main__right {
  background-color: #242324;
  border-left: 1px solid #3d3d42;
}

.main__controls {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  left: 0;
  width: 100%;
  color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  /* padding: 5px; */
  /* margin-top: 60px; */
}

.main__controls__block {
  display: flex;
}

.main__controls__button {
  display: flex;
  margin: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  min-width: 80px;
  cursor: pointer;
  background-color: #343434;
}

.main__controls__button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.main__controls__button i {
  font-size: 24px;
}

.main__right {
  display: flex;
  flex-direction: column;
}

.main__header {
  padding-top: 5px;
  color: #f5f5f5;
  text-align: center;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: auto;
}

.messages {
  color: white;
  list-style: none;
}

.main__message_container {
  padding: 22px 12px;
  display: flex;
}

.main__message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}

.leave_meeting {
  color: #eb534b;
}

.unmute,
.stop {
  color: #cc3b33;
}

#live {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: block;
}
#local-video {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin: 16px;
  border: 2px solid #fff;
}
#remote-video {
  position: absolute;
  max-width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#end-call {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  background-color: red;
  color: white;
  border: none;
  margin: 40px;
}
#mute-call {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  text-align: center;
  /* background-color: red; */
  /* color: white; */
  /* width: 100px; */
  border: none;
  /* margin-left: 40%; */
  margin-right: 50%;
  margin-bottom: 40px;
}
#stop-video {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  /* background-color: red; */
  /* color: white; */
  border: none;
  margin-right: 43%;
  margin-bottom: 40px;
}
